html { 
  background: url(imgs/waves-wide.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  gap: 100px;
  justify-content: flex-start;
  align-items: center;

}

.sidebar {
  display: flex;
  flex-flow: column;
  flex: 1 1 1;
  height: 100%;
  align-items: center;
  gap: 5px;
  padding-left: 100px;
}

#sideMessage {
  flex: auto;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(49, 34, 51);
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 80px;
}

button {
  margin-top: 65px;
  width: 300px;
  height: 120px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: rgb(49, 34, 51);
  border: solid;
  border-width: 4px;
  border-color: rgb(49, 34, 51);
  border-radius: 20px;
  justify-content: flex-end;
  background-color: rgb(207, 124, 98);
}

.content {
  display: flex;
  flex-flow: column;
  flex: 1 1 1;
  align-items: center;
  gap: 5px;
}

.canvas {
  margin: 50px;
  border-style: solid;
  border-radius: 20px;
  border-width: 25px;
  border-color: rgba(49, 34, 51, 0.85);
  display: flex;
  flex-flow: wrap;
}

.pixel {
  background-color: #80808080;
  height: 64px;
  width: 64px;
}

.pixelColor {
  background-color: hsla(0, 0%, 50%, 50%);
}

.pixelRainbow {
  background-color: hsla(0, 0%, 50%);
}